.tx-default-2 {
  color: var(--primaryColor1);
  font-weight: 600
}

.wrapper-steppy {
  padding: 4vh 0vh;
  max-height: 75vh;
  width: 100%;
}

.steppy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  position: relative;
  z-index: 0;
  margin: auto;
}

.steppy-progress {
  position: absolute;
  background-color: #c5c5c5;
  height: 2px;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto
}

.steppy-progress-bar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000000;
  transition: all .5s ease
}

.steppy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #383D3B;
  transition: all .5s ease;
}

.steppy-item-counter {
  height: 7.1vh;
  width: 7.1vh;
  display: grid;
  place-items: center;
  background-color: #fcfcfc;
  border-radius: 100%;
  border: 2px solid #383D3B;
  position: relative
}

.steppy-item-counter .icon-success {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  width: 1.92vh;
  transition: all .5s ease;
}

.steppy-item-counter .number {
  font-size: 2.4vh;
  font-weight: 700;
  line-height: 2.9vh;
  transition: all .5s ease
}

.steppy-item-title {
  position: absolute;
  color: #383D3B;
  text-align: center;
  font-size: 1.92vh;
  font-weight: 700;
  line-height: 2.17vh;
  bottom: -5vh
}

.steppy-item.success .steppy-item-counter {
  border-color: #383D3B;
  font-weight: 600
}

.steppy-item.success .steppy-item-counter .icon-success {
  opacity: 1;
  transform: scale(1);
  color: #383D3B !important;
}

.steppy-item.success .steppy-item-counter .number {
  opacity: 0;
  transform: scale(0)
}

.steppy-item.current .steppy-item-counter {
  border-color: #383D3B;
  background-color: #383D3B;
  color: #fff;
  font-weight: 600
}

.steppy-pane {
  color: #333;
  text-align: center;
  background-color: transparent;
  margin: 4vh 0;
  padding: 5vh 0 0;
}

.controls {
  display: flex
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.92vh;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: all .15s;
  border-radius: 0.7vh;
  font-size: 1.92vh;
  font-weight: 600;
  line-height: 2.17vh;
  color: #383D3B;
  width: 48%;
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
}

.btn:disabled {
  opacity: .5;
  pointer-events: none
}

.btn--default-2 {
  background-color: #01AFB2;
  border-color: #01AFB2;
  color: #fff;
  width: 48%;
  margin-left: auto
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-4a42d1bd 1s linear infinite
}

@keyframes rotation-4a42d1bd {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}