.v-btn-group .v-btn {
    height: inherit !important;
}

.v-btn-group {
    border-color: rgb(var(--v-theme-borderColor)) !important;
}
.v-btn{
    text-transform: capitalize;
    letter-spacing: 0;
}
.v-btn--elevated:hover{
    box-shadow: none;
}

.v-btn-db {
    color: #3584F7; 
    background-color: #F2F6FA; 
    border-radius: 10% !important;
}

.btn-primary {
    color: #fcfcfc !important;
    background-color: #01AFB2 !important;
}

.btn-primary-2 {
    color: #01AFB2 !important;
    background-color: #01D2D60D !important;
}

.btn-secondary {
    color: #383D3B !important;
    background-color: #F7F7F7 !important;
}

.btn-onboard {
    width: 49%;
}

.btn-outline {
    outline-color: rgb(var(--v-theme-secondary)) !important;
    outline-style: solid;
    outline-width: 1px;
}

.btn-icon {
    width: 2vh;
    height: 2vh;
}