.v-field--variant-outlined .v-field__outline__start.v-locale--is-ltr,
.v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
    border-radius: $border-radius-root 0 0 $border-radius-root;
}

.v-field--variant-outlined .v-field__outline__end.v-locale--is-ltr,
.v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
    border-radius: 0 $border-radius-root $border-radius-root 0;
}

.v-field {
    font-size: 1.92vh !important;
    color: #737782;
    border-radius: 0;
}

.v-field input {
    font-size: 1.92vh !important;
}

// select outlined
.v-field--variant-outlined .v-field__outline__start,
.v-field--variant-outlined .v-field__outline__notch::before,
.v-field--variant-outlined .v-field__outline__notch::after,
.v-field--variant-outlined .v-field__outline__end {
    opacity: 1;
}

/* OTP Input */
.digit-box {
    height: 5vh;
    width: 20%;
    border-bottom: 1px solid #D9D9D9;
    display: inline-block;
    margin: 3vh 1vh;
    padding: 2vh;
    font-size: 4vh;
    text-align: center;
}

.digit-box:focus {
  border-bottom: 1px solid #383D3B;
  outline-color: transparent;
}
