.theme-tab {
    &.v-tabs {
        .v-tab {
            border-radius: $border-radius-root !important;
            min-width: auto !important;
            &.v-slide-group-item--active {
                background: rgb(var(--v-theme-primary));
                
            }
        }
    }
}

.v-tabs, .v-tab {
    height: 4vh !important;
}

.vertical {
    display: flex;
    height: auto;
    flex-direction: column;
}

.nest-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d-img-1 {
    width: 90%;
}

.d-img-2 {
    width: 60%;
}