.v-table .v-table__wrapper>table>tbody>tr:not(:last-child)>td,
.v-table .v-table__wrapper>table>tbody>tr:not(:last-child)>th,
.v-table .v-table__wrapper>table>thead>tr:last-child>th {
    border-bottom: thin solid rgba(var(--v-border-color), 1) !important;
}

.v-table .v-table__wrapper>table>thead>tr>th {
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}

.v-table>.v-table__wrapper>table>tbody>tr>th,
.v-table>.v-table__wrapper>table>thead>tr>th,
.v-table>.v-table__wrapper>table>tfoot>tr>th {
    font-weight: 600;
}

.v-table {
    &.v-theme--dark {
        background: rgb(var(--v-theme-darkbg));
        color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
        
        .v-table__wrapper>table>tbody>tr:not(:last-child)>td {
            border-bottom: thin solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
        }
        .v-table__wrapper>table>thead>tr:last-child>th{
            border-bottom: thin solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
        }
    }
}