// 
// common
// 

.inside-left-sidebar {
    .left-part {
        width: 240px;
    }
}
@media screen and (max-width:767px){
    .blog-detail{
        .text-h1{
            font-size: 20px !important;
            line-height: inherit;
        }
        .text-h2,.text-h4{
            font-size: 18px !important;
        }
        .text-h3{
            font-size: 16px !important;
        }
    }
}